  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

body {
  background:url("../images/bg-desktop.svg") no-repeat left top fixed;
  background-color: hsl(257, 40%, 49%);
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  color: #FFFFFF;
}

header .logo {
  margin: 30px 40px;
}

section {
  display: flex;
  margin: 62px 0px 0px 75px;
}

section .text{
  margin: 46px 220px 0px 50px;
}

section .text h1{
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
}

section .text p{
  margin-top: 40px;
}

section button {
  margin-top: 5px;
  font-size: 1em;
  background-color: #FFFFFF;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.536);
  padding: 14px 54px;
  border-radius: 40px;
  color:hsl(257, 40%, 49%);
  border: #FFFFFF;
}

section button:active{
  content: '';
    background-color: hsl(300, 69%, 71%);
    color: white;
}

footer .icons {
  display: flex;
  justify-content: end;
  font-size: large;
 margin-right: 220px
}

footer .fa-brands{
  border-radius: 50%;
  padding: 10px;
  margin: -10px 10px 0px 10px;
  width: 16px;
  color: white;
}

footer .fa-brands:active{
  content: '';
    background-color: hsl(300, 69%, 71%);
    position: absolute;
}

footer .attribution { 
  font-size: 11px; 
  text-align: center; 
  margin-bottom: 20px;
}

footer .attribution a { 
  color: white; 
}